{% extends 'base.html' %}

{% block title %}Annotate{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<h1>Annotate Image</h1>

<div class="row">
    <h2>Annotating `{{ image.name }}` ({{ image.pk }}/ {{ total_num_images}})</h2>
    <div class="col">
        <canvas id="imageCanvas" width="512" height="512" style="background-image: url({{ image.image.url }});"></canvas>
        <canvas id="magnifierCanvas" width="150" height="150" style="border:1px solid #d3d3d3"></canvas>
    </div>
    <div class="col">
        <form id="annotationForm" method="post">
            {% csrf_token %}
            <div id="labels">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="label" id="labelMA" value="MA">
                    <label class="form-check-label" for="labelMA">
                        <span class="colorBox" style="background-color: red;"></span>
                        <div style="color:red; float: left">&#9632;</div>MA
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="label" id="labelHE" value="HE">
                    <label class="form-check-label" for="labelHE">
                        <span class="colorBox" style="background-color: blue;"></span>
                        <div style="color:blue; float: left ">&#9632;</div>HE
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="label" id="labelEX" value="EX">
                    <label class="form-check-label" for="labelEX">
                        <span class="colorBox" style="background-color: green;"></span>
                        <div style="color:green; float:left ">&#9632;</div>EX
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="label" id="labelSE" value="SE">
                    <label class="form-check-label" for="labelSE">
                        <span class="colorBox" style="background-color: yellow;"></span>
                        <div style="color:yellow; float:left ">&#9632;</div>SE
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="label" id="labelARTEFACT" value="ARTEFACT">
                    <label class="form-check-label" for="labelARTEFACT">
                        <span class="colorBox" style="background-color: purple;"></span>
                        <div style="color:purple; float:left ">&#9632;</div>ARTEFACT
                    </label>
                </div>

                <!-- Other label with text input for custom label -->
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="label" id="labelOTHER" value="OTHER">
                    <label class="form-check-label" for="labelOTHER">
                        <span class="colorBox" style="background-color: black;"></span>
                        <div style="color:black; float: left">&#9632;</div>Other
                    </label>
                    <input type="text" id="otherLabelInput" style="display: none;">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div id="print_coordinates"></div>
    </div>
</div>

<script>
    const colors = {
        "MA": "red",
        "HE": "blue",
        "EX": "green",
        "SE": "yellow",
        "ARTEFACT": "purple",
        "OTHER": "black"
    };

    const canvas = document.getElementById('imageCanvas');
    const ctx = canvas.getContext('2d');
    const form = document.getElementById('annotationForm');
    const coordinatesContainer = document.getElementById('print_coordinates');
    
    let img = new Image();
    img.src = '{{ image.image.url }}';
    img.onload = function() {
        ctx.drawImage(img, 0, 0, 512, 512);
    };

    const magnifierCanvas = document.getElementById('magnifierCanvas');
    const magnifierCtx = magnifierCanvas.getContext('2d');
    const magnifierSize = 150;
    const zoomLevel = 2;

    let selectedLabel = null;
    let coordinates = [];

    document.querySelectorAll('input[name="label"]').forEach((radio) => {
        radio.addEventListener('change', (event) => {
            selectedLabel = event.target.value;
            if (selectedLabel === 'OTHER') {
                document.getElementById('otherLabelInput').style.display = 'block';
            } else {
                document.getElementById('otherLabelInput').style.display = 'none';
            }
        });
    });

    canvas.addEventListener('mousemove', function(event) {
        const rect = canvas.getBoundingClientRect();
        const x = event.clientX - rect.left;
        const y = event.clientY - rect.top;

        drawMagnifier(x, y);
    });

    canvas.addEventListener('click', (event) => {
        if (!selectedLabel) {
            alert('Please select a label first.');
            return;
        }

        let label = selectedLabel;
        let color = colors[selectedLabel];
        const rect = canvas.getBoundingClientRect();
        const x = event.clientX - rect.left;
        const y = event.clientY - rect.top;

        // Draw the dot
        ctx.fillStyle = color;
        ctx.beginPath();
        ctx.arc(x, y, 2, 0, 2 * Math.PI);
        ctx.fill();

        drawMagnifier(x, y);

        let selectedLabel_logged;
        if (selectedLabel === 'OTHER') {
            selectedLabel_logged = document.getElementById('otherLabelInput').value;
        } else {
            selectedLabel_logged = selectedLabel;
        }

        let coordinate = {label: selectedLabel_logged, x:x, y:y, color: color};
        coordinates.push(coordinate);

        let coordinateElement = document.createElement('div');
        coordinateElement.style.display = "flex";
        coordinateElement.style.alignItems = "center";

        let colorSquare = document.createElement('div');
        colorSquare.innerHTML = '&#9632;';
        colorSquare.style.color = colors[selectedLabel];
        colorSquare.style.float = 'left';
        colorSquare.style.marginRight = '10px'; // Add a bit of space after the color square
        coordinateElement.appendChild(colorSquare);

        let textNode = document.createTextNode(`X: ${x}, Y: ${y}, Label: ${selectedLabel_logged}`);
        coordinateElement.appendChild(textNode);

        let deleteButton = document.createElement('button');
        deleteButton.textContent = 'Delete';
        deleteButton.className = 'btn btn-danger';
        deleteButton.style.marginLeft = '10px';
        deleteButton.style.transform = 'scale(0.8)'; // make button 20% smaller
        deleteButton.addEventListener('click', () => deleteCoordinate(coordinate, coordinateElement));
        coordinateElement.appendChild(deleteButton);
        coordinatesContainer.appendChild(coordinateElement);
    });

    form.addEventListener('submit', (event) => {
        event.preventDefault();
        // Add coordinates to form
        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'coordinates';
        input.value = JSON.stringify(coordinates);
        form.appendChild(input);
        // Submit the form
        form.submit();
    });

    function drawMagnifier(x, y) {
        // Calculate source coordinates and dimensions
        let sourceX = x - magnifierSize / (2 * zoomLevel);
        let sourceY = y - magnifierSize / (2 * zoomLevel);
        let sourceWidth = magnifierSize / zoomLevel;
        let sourceHeight = magnifierSize / zoomLevel;

        // Calculate destination coordinates
        let destX = 0;
        let destY = 0;

        // Check if sourceX is out of the image
        if (sourceX < 0) {
            sourceWidth += sourceX;
            destX -= sourceX * zoomLevel;
            sourceX = 0;
        }

        // Check if sourceY is out of the image
        if (sourceY < 0) {
            sourceHeight += sourceY;
            destY -= sourceY * zoomLevel;
            sourceY = 0;
        }

        // Clear the magnifier canvas
        magnifierCtx.clearRect(0, 0, magnifierCanvas.width, magnifierCanvas.height);

        // Draw white background to fill the outside region
        magnifierCtx.fillStyle = 'white';
        magnifierCtx.fillRect(0, 0, magnifierCanvas.width, magnifierCanvas.height);

        // Draw the magnified portion of the image
        magnifierCtx.drawImage(
            canvas, 
            sourceX, 
            sourceY, 
            sourceWidth, 
            sourceHeight, 
            destX, 
            destY, 
            sourceWidth * zoomLevel, 
            sourceHeight * zoomLevel
        );

        magnifierCtx.beginPath();
        magnifierCtx.arc(magnifierSize / 2, magnifierSize / 2, 5, 0, 2 * Math.PI);
        magnifierCtx.stroke();
    }

    function deleteCoordinate(coordinate, coordinateElement) {
        let index = coordinates.indexOf(coordinate);
        if (index > -1) {
            coordinates.splice(index, 1);
        }
        coordinatesContainer.removeChild(coordinateElement);
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        // redraw the remaining annotations
        for (let i = 0; i < coordinates.length; i++) {
            let coordinate = coordinates[i];
            ctx.beginPath();
            ctx.arc(coordinate.x, coordinate.y, 2, 0, 2 * Math.PI);
            ctx.fillStyle = coordinate.color;
            ctx.fill();
        }
    }
</script>




{% else %}

<p>You are not logged in yet.</p>

{% endif %}

{% endblock %}

