{% extends 'base.html' %}

{% block title %}Annotate{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<h1>Lesion annotation for diabetic retinopathy (DR)</h1>

<div class="row">
    <h4>Annotating image {{ image.index }} / {{ total_num_images }}</h4>
    <div class="col">
        <canvas id="imageCanvas" width="512" height="512" style="background-image: url({{ image.image.url }});"></canvas>
        <canvas id="magnifierCanvas" width="150" height="150" style="border:1px solid #d3d3d3"></canvas>
    </div>
    <div class="col">
        <div class="coordinate-header">
            <h5>Logged Coordinates</h5>
            <button id="deleteAllButton" class="btn btn-danger">Delete All</button>
        </div>
        <div id="print_coordinates"></div>
        <br/>
        <h5>Labels</h5>
        <form id="annotationForm" method="post">
            {% csrf_token %}
            <div id="labels">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="label" id="labelMA" value="MA">
                    <label class="form-check-label" for="labelMA">
                        <div style="color:red; float: left">&#9632;</div>&nbsp;Microaneurysms (MA)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="label" id="labelHE" value="HE">
                    <label class="form-check-label" for="labelHE">
                        <div style="color:blue; float: left ">&#9632;</div>&nbsp;Hemorraghes (HE)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="label" id="labelEX" value="EX">
                    <label class="form-check-label" for="labelEX">
                        <div style="color:green; float:left ">&#9632;</div>&nbsp;Exudates (EX)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="label" id="labelSE" value="SE">
                    <label class="form-check-label" for="labelSE">
                        <div style="color:yellow; float:left ">&#9632;</div>&nbsp;Soft Exudates (SE)
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="label" id="labelARTEFACT" value="ARTEFACT">
                    <label class="form-check-label" for="labelARTEFACT">
                        <div style="color:purple; float:left ">&#9632;</div>&nbsp;Artifact
                    </label>
                </div>

                <!-- Other label with text input for custom label -->
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="label" id="labelOTHER" value="OTHER">
                    <label class="form-check-label" for="labelOTHER">
                        <div style="color:black; float: left">&#9632;</div>&nbsp;Others
                    </label>
                    <input type="text" id="otherLabelInput" style="display: none;">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br/>
        <div class="instruction">
            <h6>Instruction</h6>
            <p>
                Your task is to annotate lesions related to Diabetic Retinopathy on fundus images. By moving the mouse over the image, you get a magnified cutout of the image in the small window below. All images are from patients with DR of grade 0 ("no DR"), grade 1 ("mild DR") and grade 2 ("moderate DR"). For best contrast, you may need to adjust the brightness of your monitor to maximal.
            </p>
            <p>
                To mark a lesion, select the type of lesion on the right. You can annotate microaneurysms (MA), hemorraghes (HE), exudates (EX), soft exudates (SE), artefacts or other lesions. You add a lesion marker to the image by clicking on the image. You can also highlight or remove a lesion again by clicking the respective button in the panel in the top right.
            </p>
            <p>
                Make sure you work carefully and annotate all lesions that are present. When you are done with an image, click "submit". The annotations will be saved.                
            </p>
            <p>
                If you need to interrupt a session, we will load the images and corresponding annotations that you have already submitted.               
            </p>
        </div>
    </div>
</div>

<script>
    const colors = {
        "MA": "red",
        "HE": "blue",
        "EX": "green",
        "SE": "yellow",
        "ARTEFACT": "purple",
        "OTHER": "black"
    };

    const canvas = document.getElementById('imageCanvas');
    const ctx = canvas.getContext('2d');
    const form = document.getElementById('annotationForm');
    const coordinatesContainer = document.getElementById('print_coordinates');
    const magnifierCanvas = document.getElementById('magnifierCanvas');
    const magnifierCtx = magnifierCanvas.getContext('2d');
    const magnifierSize = 150;
    const zoomLevel = 2;
    let selectedLabel = null;
    let coordinates = [];
    let lastHighlightedDot = null;
    let lastHighlightedDotImage = null; // Stores the image data before drawing highlight
    let loadTime = Date.now(); // Store the time when the page was loaded

    let img = new Image();
    img.src = '{{ image.image.url }}';
    img.onload = function() {
        ctx.drawImage(img, 0, 0, 512, 512);
        loadExistingCoordinates();
    };

    document.querySelectorAll('input[name="label"]').forEach((radio) => {
        radio.addEventListener('change', (event) => {
            selectedLabel = event.target.value;
            if (selectedLabel === 'OTHER') {
                document.getElementById('otherLabelInput').style.display = 'block';
            } else {
                document.getElementById('otherLabelInput').style.display = 'none';
            }
        });
    });

    canvas.addEventListener('mousemove', function(event) {
        const rect = canvas.getBoundingClientRect();
        const x = event.clientX - rect.left;
        const y = event.clientY - rect.top;

        drawMagnifier(x, y);
    });

    canvas.addEventListener('click', (event) => {

        const rect = canvas.getBoundingClientRect();
        const x = Math.round(event.clientX - rect.left);
        const y = Math.round(event.clientY - rect.top);

        // Check if click was on a dot
        const allCoordinateElements = document.querySelectorAll('#print_coordinates > div');
        for (let i = 0; i < coordinates.length; i++) {
            let coordinate = coordinates[i];
            let dx = x - coordinate.x;
            let dy = y - coordinate.y;
            if (Math.sqrt(dx * dx + dy * dy) <= coordinate.radius) {
                // Click was inside this dot
                // highlight and show this dot
                showCoordinate(coordinate);
                // Find the corresponding div and highlight it
                const correspondingDiv = Array.from(allCoordinateElements).find(el => el.dataset.x == coordinate.x && el.dataset.y == coordinate.y);
                if (correspondingDiv) {
                    highlightCoordinateElement(correspondingDiv, true);  // Scroll when dot is selected on canvas
                }
                return;
            }
        }

        if (!selectedLabel) {
            alert('Please select a label first.');
            return;
        }
        
        let label = selectedLabel;
        let color = colors[selectedLabel];
        let radius = 8;

        // Draw the dot
        ctx.fillStyle = color;
        ctx.beginPath();
        ctx.arc(x, y, 5, 0, 2 * Math.PI);
        ctx.fill();

        drawMagnifier(x, y);

        let selectedLabel_logged;
        if (selectedLabel === 'OTHER') {
            selectedLabel_logged = document.getElementById('otherLabelInput').value;
        } else {
            selectedLabel_logged = selectedLabel;
        }

        let coordinate = {label: selectedLabel_logged, x:x, y:y, color: color, radius: radius};
        coordinates.push(coordinate);

        let coordinateElement = document.createElement('div');
        coordinateElement.style.display = "flex";
        coordinateElement.style.alignItems = "center";
        coordinateElement.dataset.x = x;  // Store the x and y in the element
        coordinateElement.dataset.y = y;

        let colorSquare = document.createElement('div');
        colorSquare.innerHTML = '&#9632;';
        colorSquare.style.color = colors[selectedLabel];
        colorSquare.style.float = 'left';
        colorSquare.style.marginRight = '10px'; // Add a bit of space after the color square
        coordinateElement.appendChild(colorSquare);

        let textNode = document.createTextNode(`X: ${x}, Y: ${y}, Label: ${selectedLabel_logged}`);
        let textDiv = document.createElement('div');
        textDiv.style.width = '200px';  // Set this to a value that suits your needs
        textDiv.appendChild(textNode);
        coordinateElement.appendChild(textDiv);

        let showButton = document.createElement('button');
        showButton.textContent = 'Show';
        showButton.className = 'btn btn-info';
        showButton.style.marginLeft = '10px';
        showButton.style.transform = 'scale(0.8)'; // make button 20% smaller
        showButton.addEventListener('click', () => {
            showCoordinate(coordinate);
            highlightCoordinateElement(coordinateElement, false);
        });
        coordinateElement.appendChild(showButton);

        let deleteButton = document.createElement('button');
        deleteButton.textContent = 'Delete';
        deleteButton.className = 'btn btn-danger';
        deleteButton.style.marginLeft = '10px';
        deleteButton.style.transform = 'scale(0.8)'; // make button 20% smaller
        deleteButton.addEventListener('click', () => deleteCoordinate(coordinate, coordinateElement));
        coordinateElement.appendChild(deleteButton);
        coordinatesContainer.appendChild(coordinateElement);
        coordinatesContainer.scrollTop = coordinatesContainer.scrollHeight;
    });

    form.addEventListener('submit', (event) => {
    
        event.preventDefault();

        let existingTimeSpent = {{ existing_time_spent }};
        let timeSpent = Date.now() - loadTime + existingTimeSpent;
        // Create a new array that only contains the required properties for each coordinate
        let coordinatesToSubmit = coordinates.map(coordinate => {
            return {label: coordinate.label, x: coordinate.x, y: coordinate.y, color: coordinate.color};
        });

        let existingMouseTrajectory = JSON.parse('{{ existing_mouse_trajectory }}');
        let totalMouseTrajectory = existingMouseTrajectory.concat(mouse_trajectory);
        


        // Add coordinates to form
        const coordinatesInput = document.createElement('input');
        coordinatesInput.type = 'hidden';
        coordinatesInput.name = 'coordinates';
        coordinatesInput.value = JSON.stringify(coordinatesToSubmit);
        form.appendChild(coordinatesInput);

        // Add time spent to form
        const timeInput = document.createElement('input');
        timeInput.type = 'hidden';
        timeInput.name = 'time_spent';
        timeInput.value = timeSpent;
        form.appendChild(timeInput);

        // Add mouse_trajectory to form
        const trajectoryInput = document.createElement('input');
        trajectoryInput.type = 'hidden';
        trajectoryInput.name = 'mouse_trajectory';
        trajectoryInput.value = JSON.stringify(totalMouseTrajectory);
        form.appendChild(trajectoryInput);
        
        // Submit the form
        form.submit();
    });

    function drawMagnifier(x, y) {
        // Calculate source coordinates and dimensions
        let sourceX = x - magnifierSize / (2 * zoomLevel);
        let sourceY = y - magnifierSize / (2 * zoomLevel);
        let sourceWidth = magnifierSize / zoomLevel;
        let sourceHeight = magnifierSize / zoomLevel;

        // Calculate destination coordinates
        let destX = 0;
        let destY = 0;

        // Check if sourceX is out of the image
        if (sourceX < 0) {
            sourceWidth += sourceX;
            destX -= sourceX * zoomLevel;
            sourceX = 0;
        }

        // Check if sourceY is out of the image
        if (sourceY < 0) {
            sourceHeight += sourceY;
            destY -= sourceY * zoomLevel;
            sourceY = 0;
        }

        // Clear the magnifier canvas
        magnifierCtx.clearRect(0, 0, magnifierCanvas.width, magnifierCanvas.height);

        // Draw white background to fill the outside region
        magnifierCtx.fillStyle = 'white';
        magnifierCtx.fillRect(0, 0, magnifierCanvas.width, magnifierCanvas.height);

        // Draw the magnified portion of the image
        magnifierCtx.drawImage(
            canvas, 
            sourceX, 
            sourceY, 
            sourceWidth, 
            sourceHeight, 
            destX, 
            destY, 
            sourceWidth * zoomLevel, 
            sourceHeight * zoomLevel
        );

        magnifierCtx.beginPath();
        magnifierCtx.arc(magnifierSize / 2, magnifierSize / 2, 10, 0, 2 * Math.PI); // x, y, radius, startAngle, endAngle
        magnifierCtx.stroke();
    }

    function showCoordinate(coordinate) {
        // Clear the canvas
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        
        // Redraw the image
        ctx.drawImage(img, 0, 0, 512, 512);
        
        // Redraw all the dots
        coordinates.forEach(c => {
            ctx.beginPath();
            ctx.arc(c.x, c.y, 5, 0, 2 * Math.PI);
            ctx.fillStyle = c.color;
            ctx.fill();
        });
        
        // Highlight the current dot
        ctx.beginPath();
        ctx.arc(coordinate.x, coordinate.y, 5, 0, 2 * Math.PI);
        ctx.strokeStyle = 'gray';
        ctx.lineWidth = 3;
        ctx.stroke();
        
        lastHighlightedDot = coordinate;
        
        // Draw the magnifier to update its view with the highlighted dot
        drawMagnifier(coordinate.x, coordinate.y);
    }
    
    

    function highlightCoordinateElement(element, scrollIntoView = true) {
        // Remove highlight from all elements
        const allCoordinateElements = document.querySelectorAll('#print_coordinates > div');
        allCoordinateElements.forEach(el => el.style.backgroundColor = '');
    
        // Highlight the selected element
        element.style.backgroundColor = '#d0d0d0';
    
        // Scroll the selected element into view if requested
        if (scrollIntoView) {
            element.scrollIntoView({behavior: "smooth", block: "end", inline: "nearest"});
        }
    }
    
    
    function deleteCoordinate(coordinate, coordinateElement) {
        let index = coordinates.findIndex(c => c.x === coordinate.x && c.y === coordinate.y);
        if (index > -1) {
            coordinates.splice(index, 1);
        }
        coordinatesContainer.removeChild(coordinateElement);
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        // Redraw the image
        img.onload = function() {
            ctx.drawImage(img, 0, 0, 512, 512);
            // Redraw the remaining annotations
            for (let i = 0; i < coordinates.length; i++) {
                let coordinate = coordinates[i];
                ctx.beginPath();
                ctx.arc(coordinate.x, coordinate.y, 5, 0, 2 * Math.PI);
                ctx.fillStyle = coordinate.color;
                ctx.fill();
            }
            // Update lastHighlightedDotImage
            if (lastHighlightedDot) {
                lastHighlightedDotImage = ctx.getImageData(lastHighlightedDot.x - 10, lastHighlightedDot.y - 10, 20, 20);
            }
            // Draw the magnifier to update its view without the deleted dot
            drawMagnifier(coordinate.x, coordinate.y);
        };
        img.src = '{{ image.image.url }}';
        if (lastHighlightedDot === coordinate) {
            lastHighlightedDot = null;
            lastHighlightedDotImage = null;
        }
    }

    deleteAllButton.addEventListener('click', function() {
        // Ask for confirmation before deleting all
        if (window.confirm("Are you sure you want to delete all annotations? This action cannot be undone.")) {
            // Clear the coordinates array
            coordinates.length = 0;
    
            // Remove all the coordinate elements from the DOM
            while (coordinatesContainer.firstChild) {
                coordinatesContainer.firstChild.remove();
            }
    
            // Clear the canvas
            ctx.clearRect(0, 0, canvas.width, canvas.height);
    
            // Redraw the image
            img.onload = function() {
                ctx.drawImage(img, 0, 0, 512, 512);
            };
            img.src = '{{ image.image.url }}';

            // Reset highlighted dot
            lastHighlightedDot = null;
            lastHighlightedDotImage = null;
        }
    });

    function loadExistingCoordinates() {
        let existingAnnotationsString = '{{ existing_annotation|escapejs|safe }}';
        // Replace \u0027 with "
        existingAnnotationsString = existingAnnotationsString.replace(/\\u0027/g, '"');
        const existingAnnotations = JSON.parse(existingAnnotationsString);
        console.log('existingAnnotations: ', existingAnnotations);  // This should show your annotation data
        for (let i = 0; i < existingAnnotations.length; i++) {
            const annotation = existingAnnotations[i];
            const label = annotation.label;
            const color = colors[label];
            const x = annotation.x;
            const y = annotation.y;
            const radius = 8;
    
            // Draw the dot
            ctx.fillStyle = color;
            ctx.beginPath();
            ctx.arc(x, y, 5, 0, 2 * Math.PI);
            ctx.fill();
    
            // Add the dot to the coordinates array
            coordinates.push({label: label, x: x, y: y, color: color, radius: radius});
    
            // Log the coordinate
            // Create the coordinate element
            let coordinateElement = document.createElement('div');
            coordinateElement.style.display = "flex";
            coordinateElement.style.alignItems = "center";
            coordinateElement.dataset.x = x;  // Store the x and y in the element
            coordinateElement.dataset.y = y;

            // Create the color square
            let colorSquare = document.createElement('div');
            colorSquare.innerHTML = '&#9632;';
            colorSquare.style.color = colors[label];
            colorSquare.style.float = 'left';
            colorSquare.style.marginRight = '10px'; // Add a bit of space after the color square
            coordinateElement.appendChild(colorSquare);

            // Create the text node
            let textNode = document.createTextNode(`X: ${x}, Y: ${y}, Label: ${label}`);
            let textDiv = document.createElement('div');
            textDiv.style.width = '200px';  // Set this to a value that suits your needs
            textDiv.appendChild(textNode);
            coordinateElement.appendChild(textDiv);

            // Create the show button
            let showButton = document.createElement('button');
            showButton.textContent = 'Show';
            showButton.className = 'btn btn-info';
            showButton.style.marginLeft = '10px';
            showButton.style.transform = 'scale(0.8)'; // make button 20% smaller
            showButton.addEventListener('click', () => {
                showCoordinate({label: label, x: x, y: y, color: color, radius: radius});
                highlightCoordinateElement(coordinateElement, false);
            });
            coordinateElement.appendChild(showButton);

            // Create the delete button
            let deleteButton = document.createElement('button');
            deleteButton.textContent = 'Delete';
            deleteButton.className = 'btn btn-danger';
            deleteButton.style.marginLeft = '10px';
            deleteButton.style.transform = 'scale(0.8)'; // make button 20% smaller
            deleteButton.addEventListener('click', () => deleteCoordinate({label: label, x: x, y: y, color: color, radius: radius}, coordinateElement));
            coordinateElement.appendChild(deleteButton);

            // Append the coordinate element to the coordinates container
            coordinatesContainer.appendChild(coordinateElement);

        }
    }

    const overlayCtx = imageCanvas.getContext('2d');
    let mouse_trajectory = [];
    let mouseInterval;
    let debugMode = {% if user.is_superuser or user.is_staff %}true{% else %}false{% endif %};
    
    canvas.addEventListener('mousemove', function(event) {
        // Update the mouse position when it moves over the canvas
        mousePosition = {
            x: event.clientX - canvas.getBoundingClientRect().left,
            y: event.clientY - canvas.getBoundingClientRect().top
        };
    });

    canvas.addEventListener('mouseenter', function(event) {
        mouseInterval = setInterval(function() {
            mouse_trajectory.push({
                x: mousePosition.x,
                y: mousePosition.y,
                time: Date.now()
            });

            // Only draw the trajectory in debug mode
            if (debugMode) {
                overlayCtx.strokeStyle = 'rgba(173, 255, 47, 0.5)';  // Transparent yellow green
                overlayCtx.lineWidth = 2;
                overlayCtx.beginPath();
                overlayCtx.moveTo(mouse_trajectory[mouse_trajectory.length-2]?.x || mouse_trajectory[0].x, mouse_trajectory[mouse_trajectory.length-2]?.y || mouse_trajectory[0].y);
                overlayCtx.lineTo(mouse_trajectory[mouse_trajectory.length-1].x, mouse_trajectory[mouse_trajectory.length-1].y);
                overlayCtx.stroke();
            }
        }, 150); // Update mouse position every 150ms
    });

    canvas.addEventListener('mouseleave', function() {
        clearInterval(mouseInterval);
    });

</script>


<style>
    #print_coordinates {
        height: 230px;
        overflow-y: auto;
        border: 1px solid #000;
        padding: 10px;
        margin-top: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }
    
    #print_coordinates::-webkit-scrollbar {
        width: 10px;
    }
    
    #print_coordinates::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;
    }
    
    #print_coordinates::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    #print_coordinates > div {
        align-items: center;
        gap: 10px;
    }

    #print_coordinates > div > div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .highlighted {
        background-color: #ADD8E6; /* light blue */
        color: black;
    }

    .coordinate-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .instruction {
        color: gray;
        font-size: small;
    }

    .instruction h6 {
        font-weight: bold;
    }

    .instruction p {
        margin-top: 10px;
    }
</style>


{% else %}

<p>You are not logged in yet.</p>

{% endif %}

{% endblock %}

