{% extends 'base.html' %}

{% block title %}Annotate{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<h1>Annotate Image</h1>

<div class="row">
    <h2>Annotating `{{ image.name }}` ({{ image.pk }}/ {{ total_num_images}})</h2>
    <div class="col">
        <canvas id="imageCanvas" width="512" height="512" style="background-image: url({{ image.image.url }});"></canvas>
        <canvas id="magnifierCanvas" width="150" height="150" style="border:1px solid #d3d3d3"></canvas>
    </div>
    <div class="col">
        <h5>Logged Coordinates</h5>
        <div id="print_coordinates"></div>
        <br/>
        <h5>Labels</h5>
        <form id="annotationForm" method="post">
            {% csrf_token %}
            <div id="labels">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="label" id="labelMA" value="MA">
                    <label class="form-check-label" for="labelMA">
                        <span class="colorBox" style="background-color: red;"></span>
                        <div style="color:red; float: left">&#9632;</div>MA
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="label" id="labelHE" value="HE">
                    <label class="form-check-label" for="labelHE">
                        <span class="colorBox" style="background-color: blue;"></span>
                        <div style="color:blue; float: left ">&#9632;</div>HE
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="label" id="labelEX" value="EX">
                    <label class="form-check-label" for="labelEX">
                        <span class="colorBox" style="background-color: green;"></span>
                        <div style="color:green; float:left ">&#9632;</div>EX
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="label" id="labelSE" value="SE">
                    <label class="form-check-label" for="labelSE">
                        <span class="colorBox" style="background-color: yellow;"></span>
                        <div style="color:yellow; float:left ">&#9632;</div>SE
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="label" id="labelARTEFACT" value="ARTEFACT">
                    <label class="form-check-label" for="labelARTEFACT">
                        <span class="colorBox" style="background-color: purple;"></span>
                        <div style="color:purple; float:left ">&#9632;</div>ARTEFACT
                    </label>
                </div>

                <!-- Other label with text input for custom label -->
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="label" id="labelOTHER" value="OTHER">
                    <label class="form-check-label" for="labelOTHER">
                        <span class="colorBox" style="background-color: black;"></span>
                        <div style="color:black; float: left">&#9632;</div>Other
                    </label>
                    <input type="text" id="otherLabelInput" style="display: none;">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<script>
    const colors = {
        "MA": "red",
        "HE": "blue",
        "EX": "green",
        "SE": "yellow",
        "ARTEFACT": "purple",
        "OTHER": "black"
    };

    const canvas = document.getElementById('imageCanvas');
    const ctx = canvas.getContext('2d');
    const form = document.getElementById('annotationForm');
    const coordinatesContainer = document.getElementById('print_coordinates');
    
    let img = new Image();
    img.src = '{{ image.image.url }}';
    img.onload = function() {
        ctx.drawImage(img, 0, 0, 512, 512);
    };

    const magnifierCanvas = document.getElementById('magnifierCanvas');
    const magnifierCtx = magnifierCanvas.getContext('2d');
    const magnifierSize = 150;
    const zoomLevel = 2;

    let selectedLabel = null;
    let coordinates = [];
    let lastHighlightedDot = null;
    let lastHighlightedDotImage = null; // Stores the image data before drawing highlight


    document.querySelectorAll('input[name="label"]').forEach((radio) => {
        radio.addEventListener('change', (event) => {
            selectedLabel = event.target.value;
            if (selectedLabel === 'OTHER') {
                document.getElementById('otherLabelInput').style.display = 'block';
            } else {
                document.getElementById('otherLabelInput').style.display = 'none';
            }
        });
    });

    canvas.addEventListener('mousemove', function(event) {
        const rect = canvas.getBoundingClientRect();
        const x = event.clientX - rect.left;
        const y = event.clientY - rect.top;

        drawMagnifier(x, y);
    });

    canvas.addEventListener('click', (event) => {
        if (!selectedLabel) {
            alert('Please select a label first.');
            return;
        }

        let label = selectedLabel;
        let color = colors[selectedLabel];
        const rect = canvas.getBoundingClientRect();
        const x = Math.round(event.clientX - rect.left);
        const y = Math.round(event.clientY - rect.top);

        // Check if click was on a dot
        const allCoordinateElements = document.querySelectorAll('#print_coordinates > div');
        for (let i = 0; i < coordinates.length; i++) {
            let coordinate = coordinates[i];
            let dx = x - coordinate.x;
            let dy = y - coordinate.y;
            if (Math.sqrt(dx * dx + dy * dy) <= coordinate.radius) {
                // Click was inside this dot
                // highlight and show this dot
                showDot(coordinate);
                // Find the corresponding div and highlight it
                const correspondingDiv = Array.from(allCoordinateElements).find(el => el.dataset.x == coordinate.x && el.dataset.y == coordinate.y);
                if (correspondingDiv) {
                    highlightCoordinateElement(correspondingDiv, true);  // Scroll when dot is selected on canvas
                }
                return;
            }
        }

        // Draw the dot
        ctx.fillStyle = color;
        ctx.beginPath();
        ctx.arc(x, y, 2, 0, 2 * Math.PI);
        ctx.fill();

        drawMagnifier(x, y);

        let selectedLabel_logged;
        if (selectedLabel === 'OTHER') {
            selectedLabel_logged = document.getElementById('otherLabelInput').value;
        } else {
            selectedLabel_logged = selectedLabel;
        }

        let coordinate = {label: selectedLabel_logged, x:x, y:y, color: color, radius: 4};
        coordinates.push(coordinate);

        let coordinateElement = document.createElement('div');
        coordinateElement.style.display = "flex";
        coordinateElement.style.alignItems = "center";
        coordinateElement.dataset.x = x;  // Store the x and y in the element
        coordinateElement.dataset.y = y;

        let colorSquare = document.createElement('div');
        colorSquare.innerHTML = '&#9632;';
        colorSquare.style.color = colors[selectedLabel];
        colorSquare.style.float = 'left';
        colorSquare.style.marginRight = '10px'; // Add a bit of space after the color square
        coordinateElement.appendChild(colorSquare);

        let textNode = document.createTextNode(`X: ${x}, Y: ${y}, Label: ${selectedLabel_logged}`);
        let textDiv = document.createElement('div');
        textDiv.style.width = '200px';  // Set this to a value that suits your needs
        textDiv.appendChild(textNode);
        coordinateElement.appendChild(textDiv);

        let showButton = document.createElement('button');
        showButton.textContent = 'Show';
        showButton.className = 'btn btn-info';
        showButton.style.marginLeft = '10px';
        showButton.style.transform = 'scale(0.8)'; // make button 20% smaller
        showButton.addEventListener('click', () => {
            showDot(coordinate);
            highlightCoordinateElement(coordinateElement, false);
        });
        coordinateElement.appendChild(showButton);

        let deleteButton = document.createElement('button');
        deleteButton.textContent = 'Delete';
        deleteButton.className = 'btn btn-danger';
        deleteButton.style.marginLeft = '10px';
        deleteButton.style.transform = 'scale(0.8)'; // make button 20% smaller
        deleteButton.addEventListener('click', () => deleteCoordinate(coordinate, coordinateElement));
        coordinateElement.appendChild(deleteButton);
        coordinatesContainer.appendChild(coordinateElement);
        coordinatesContainer.scrollTop = coordinatesContainer.scrollHeight;
    });

    form.addEventListener('submit', (event) => {
        // Check if coordinates array is empty
        if (coordinates.length === 0) {
            alert('No coordinates have been logged. Please annotate the image before submitting.');
            event.preventDefault();
            return;
        }
    
        event.preventDefault();

        // Create a new array that only contains the required properties for each coordinate
        let coordinatesToSubmit = coordinates.map(coordinate => {
            return {label: coordinate.label, x: coordinate.x, y: coordinate.y, color: coordinate.color};
        });

        // Add coordinates to form
        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'coordinates';
        input.value = JSON.stringify(coordinatesToSubmit);
        form.appendChild(input);
        // Submit the form
        form.submit();
    });

    function drawMagnifier(x, y) {
        // Calculate source coordinates and dimensions
        let sourceX = x - magnifierSize / (2 * zoomLevel);
        let sourceY = y - magnifierSize / (2 * zoomLevel);
        let sourceWidth = magnifierSize / zoomLevel;
        let sourceHeight = magnifierSize / zoomLevel;

        // Calculate destination coordinates
        let destX = 0;
        let destY = 0;

        // Check if sourceX is out of the image
        if (sourceX < 0) {
            sourceWidth += sourceX;
            destX -= sourceX * zoomLevel;
            sourceX = 0;
        }

        // Check if sourceY is out of the image
        if (sourceY < 0) {
            sourceHeight += sourceY;
            destY -= sourceY * zoomLevel;
            sourceY = 0;
        }

        // Clear the magnifier canvas
        magnifierCtx.clearRect(0, 0, magnifierCanvas.width, magnifierCanvas.height);

        // Draw white background to fill the outside region
        magnifierCtx.fillStyle = 'white';
        magnifierCtx.fillRect(0, 0, magnifierCanvas.width, magnifierCanvas.height);

        // Draw the magnified portion of the image
        magnifierCtx.drawImage(
            canvas, 
            sourceX, 
            sourceY, 
            sourceWidth, 
            sourceHeight, 
            destX, 
            destY, 
            sourceWidth * zoomLevel, 
            sourceHeight * zoomLevel
        );

        magnifierCtx.beginPath();
        magnifierCtx.arc(magnifierSize / 2, magnifierSize / 2, 2, 0, 2 * Math.PI);
        magnifierCtx.stroke();
    }

    function showDot(coordinate, coordinateElement) {
        if (lastHighlightedDot) {
            // Restore the image data from before the last highlighted dot was drawn
            ctx.putImageData(lastHighlightedDotImage, lastHighlightedDot.x - 5, lastHighlightedDot.y - 5);
        }
    
        // Store the image data from before the new dot highlight is drawn
        lastHighlightedDotImage = ctx.getImageData(coordinate.x - 5, coordinate.y - 5, 10, 10);
    
        // Highlight the current dot
        ctx.beginPath();
        ctx.arc(coordinate.x, coordinate.y, 3, 0, 2 * Math.PI);
        ctx.strokeStyle = 'gray';
        ctx.lineWidth = 3;
        ctx.stroke();
    
        lastHighlightedDot = coordinate;
    }

    function highlightCoordinateElement(element, scrollIntoView = true) {
        // Remove highlight from all elements
        const allCoordinateElements = document.querySelectorAll('#print_coordinates > div');
        allCoordinateElements.forEach(el => el.style.backgroundColor = '');
    
        // Highlight the selected element
        element.style.backgroundColor = '#d0d0d0';
    
        // Scroll the selected element into view if requested
        if (scrollIntoView) {
            element.scrollIntoView({behavior: "smooth", block: "end", inline: "nearest"});
        }
    }
    
    
    function deleteCoordinate(coordinate, coordinateElement) {
        let index = coordinates.indexOf(coordinate);
        if (index > -1) {
            coordinates.splice(index, 1);
        }
        coordinatesContainer.removeChild(coordinateElement);
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        // Redraw the image
        img.onload = function() {
            ctx.drawImage(img, 0, 0, 512, 512);
            // Redraw the remaining annotations
            for (let i = 0; i < coordinates.length; i++) {
                let coordinate = coordinates[i];
                ctx.beginPath();
                ctx.arc(coordinate.x, coordinate.y, 2, 0, 2 * Math.PI);
                ctx.fillStyle = coordinate.color;
                ctx.fill();
            }
        };
        img.src = '{{ image.image.url }}';
        if (lastHighlightedDot === coordinate) {
            lastHighlightedDot = null;
            lastHighlightedDotImage = null;
        }
    }
</script>

<style>
    #print_coordinates {
        height: 230px;
        overflow-y: auto;
        border: 1px solid #000;
        padding: 10px;
        margin-top: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }
    
    #print_coordinates::-webkit-scrollbar {
        width: 10px;
    }
    
    #print_coordinates::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;
    }
    
    #print_coordinates::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    #print_coordinates > div {
        align-items: center;
        gap: 10px;
    }

    #print_coordinates > div > div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .highlighted {
        background-color: #ADD8E6; /* light blue */
        color: black;
    }
</style>


{% else %}

<p>You are not logged in yet.</p>

{% endif %}

{% endblock %}

