<h2>Answer</h2>
<form action="{{ question.get_absolute_url}}" method="POST">
  {{ form.as_p }} {% csrf_token %}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<script>
  // reaction time
  var form = document.getElementsByTagName("form")[0];
  form.addEventListener("submit", function(event) {
      var reaction_time = new Date().getTime() - start;
      var input = document.createElement("input");
      input.setAttribute("type", "hidden");
      input.setAttribute("name", "reaction_time");
      input.setAttribute("value", reaction_time);
      form.appendChild(input);
  });
  var start = new Date().getTime();
</script>
