{% extends 'base.html' %}
{% load replace %}
{% block title %}{{ question.description }}{% endblock title %}
{% block content %}

{% if user.is_authenticated %}

<h1>{{ question.description }}</h1>

<table>
    {% if question.task.alias == "realism-fundus" or question.task.alias == "realism-oct" %}
        <tr>
            {% if question.image1 %}<th>a</th>{% endif %}
            {% if question.image2 %}<th>b</th>{% endif %}
            {% if question.image3 %}<th>c</th>{% endif %}
        </tr>
    {% elif "bagnet" in question.task.alias and "fp" not in question.task.alias %}
        {% if "no-support" in question.task.alias %}
        <tr>
            <th></th>
        </tr>   
        {% else %}
        <tr>
            <th></th>
        </tr>     
        {% endif %}
    {% elif "bagnet-fp" in question.task.alias %}
        <tr>
            {% if question.image1 %}<th>Original</th>{% endif %}
            {% if question.image2 %}<th>Annotated</th>{% endif %}
        </tr>    
    {% else %}
        {% if question.image2 and not question.image4%}
            <tr>
                {% if question.image1 %}<th>Better</th>{% endif %}
                {% if question.image2 %}<th>Original</th>{% endif %}
                {% if question.image3 %}<th>Worse</th>{% endif %}
            </tr>
        {% else %}
        <tr>
            <th></th>
        </tr>            
        {% endif %}

    {% endif %}

    <tr>
        {% if question.image1 %}
        <td>
            <div class="d-flex align-items-start">
                <!-- Image canvas -->
                <div>
                    <canvas class="imageCanvas" width="{{ question.image1_width }}" height="{{ question.image1_height }}" data-src="{{ question.image1.url }}"></canvas>
                    {% if not question.image2 and not question.image3 %}
                        <!-- Magnifier side by side -->
                        <canvas class="magnifierCanvas" width="100" height="100" style="border:1px solid #d3d3d3"></canvas>
                    {% else %}
                        <div>
                            <canvas class="magnifierCanvas" width="100" height="100" style="border:1px solid #d3d3d3"></canvas>
                        </div>
                    {% endif %}
                </div>
                
                {% if question.image1_title %}
                <!-- Image title -->
                <div class="ms-3">
                    {{ question.image1_title | replace:"healthy, no DR" | safe}}
                </div>
                {% endif %}
            </div>
        </td>
        {% endif %}
        {% if question.image2 %}
            <td>
                <div>
                    <canvas class="imageCanvas" width="{{ question.image2_width }}" height="{{ question.image2_height }}" data-src="{{ question.image2.url }}"></canvas>
                </div>
                <div>
                    <canvas class="magnifierCanvas" width="100" height="100" style="border:1px solid #d3d3d3"></canvas>
                </div>
            </td>
        {% endif %}
        {% if question.image3 %}
            <td>
                <div>
                    <canvas class="imageCanvas" width="{{ question.image3_width }}" height="{{ question.image3_height }}" data-src="{{ question.image3.url }}"></canvas>
                </div>
                <div>
                    <canvas class="magnifierCanvas" width="100" height="100" style="border:1px solid #d3d3d3"></canvas>
                </div>
            </td>
        {% endif %}
    </tr>
</table>


{% if sub_questions_and_forms %}
  <!-- New form structure -->
  <form action="{{ question.get_absolute_url }}" method="POST">
    {% csrf_token %}
    {% for sub_question, form in sub_questions_and_forms %}
        <div class="sub-question mt-2">
            <h4>{{ sub_question.description }}</h4>
            {% if sub_question in unanswered_sub_questions %}
                <div class="alert alert-danger">
                    This subquestion is not yet answered.
                </div>
            {% endif %}

            {% if forloop.first %}
                <!-- First question with choices -->
                <div class="sub-question-form choices">
                    {% for choice in form.choice.field.choices %}
                        <input 
                            class="me-1" 
                            type="radio" 
                            id="choice_{{ choice.0 }}" 
                            name="{{ sub_question.id }}" 
                            value="{{ choice.0 }}" 
                            onclick="handleFirstQuestionChoice('{{ choice.1 }}', '{{ sub_question.id }}')">
                        <label class="me-5" for="choice_{{ choice.0 }}">{{ choice.1 }}</label>
                    {% endfor %}
                </div>
                <!-- Text area for the first question -->
                <div class="form-group mt-2">
                    <h6 id="heading_notes_{{ sub_question.id }}" style="display:none;">
                        Which bounding boxes contain DR-related lesions? (Number only, separate by commas)
                    </h6>
                    <textarea 
                        id="notes_{{ sub_question.id }}" 
                        name="notes_{{ sub_question.id }}" 
                        class="form-control" 
                        rows="3" 
                        style="display:none;width: 75% !important;" 
                        placeholder="e.g. 1,4,10"></textarea>
                </div>
            {% else %}
                <!-- Second question text area -->
                <div class="form-group mt-3">
                    <h6 id="heading_notes_{{ sub_question.id }}" style="display:none;">
                        What do you think made the algorithm highlight those regions without lesions? Or, what do the other boxes highlight?
                    </h6>
                    <textarea 
                        id="notes_{{ sub_question.id }}" 
                        name="notes_{{ sub_question.id }}" 
                        class="form-control" 
                        rows="10" 
                        style="display:none;width: 75% !important;" 
                        ></textarea>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
  </form>

<script>
    /**
     * Handles the choice selection for the first question.
     * @param {string} choiceText - The text of the selected choice.
     */
     function handleFirstQuestionChoice(choiceText, currentSubQuestionId) {
        const firstNotesId = `notes_${currentSubQuestionId}`; // Dynamic ID for the first question's notes
        const secondNotesId = `notes_${parseInt(currentSubQuestionId) + 1}`; // Calculate second question's ID based on the first
    
        const firstNotes = document.getElementById(firstNotesId); // Get the first notes textarea
        const secondNotes = document.getElementById(secondNotesId); // Get the second notes textarea
    
        const firstHeading = document.getElementById(`heading_notes_${currentSubQuestionId}`); // Heading for first question
        const secondHeading = document.getElementById(`heading_notes_${parseInt(currentSubQuestionId) + 1}`); // Heading for second question
    
        if (choiceText.toLowerCase() === 'no dr') {
            // Hide the first notes and show the second notes
            if (firstNotes) firstNotes.style.display = 'none';
            if (firstHeading) firstHeading.style.display = 'none';
    
            if (secondNotes) secondNotes.style.display = 'block';
            if (secondHeading) secondHeading.style.display = 'block';
            if (secondHeading) secondHeading.textContent = "What do you think made the algorithm highlight these regions? Or, what do the boxes highlight?";
        } else if (choiceText.toLowerCase() === 'dr') {
            // Show both text areas
            if (firstNotes) firstNotes.style.display = 'block';
            if (firstHeading) {
                firstHeading.style.display = 'block';
                firstHeading.textContent = "Which bounding boxes contain DR-related lesions? (Number only, separate by commas)";
            }
    
            // Enforce numeric-only input
            firstNotes.addEventListener('input', function () {
                this.value = this.value.replace(/[^0-9,]/g, ''); // Allow only numbers and commas
            });
    
            if (secondNotes) secondNotes.style.display = 'block';
            if (secondHeading) {
                secondHeading.style.display = 'block';
                secondHeading.textContent = "What do you think made the algorithm highlight those regions without lesions? Or, what do the other boxes highlight?";
            }
        }
    }
</script>

{% else %}
  <!-- Old form structure -->
  <h2>Answer</h2>
  <form action="{{ question.get_absolute_url }}" method="POST">
    {% csrf_token %}
    <div class="choices">
        {% for choice in form.choice.field.choices %}
            <input class="me-1" type="radio" id="{{ choice.0 }}" name="choice" value="{{ choice.0 }}">
            <label class="me-5" for="{{ choice.0 }}">{{ choice.1 }}</label>
        {% endfor %}
        <br>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
{% endif %}

<div class="mt-4 mb-5">
    <h5>Options for magnifiers</h5>
    <div class="row">
        <div class="col">
            <label for="showCircleToggle">Show Circle</label>
            <input type="checkbox" id="showCircleToggle" name="showCircleToggle">
        </div>
        <div class="col">
            <label for="magnifierSize">Magnifier Size:</label>
            <select id="magnifierSizeSelect">
                <option value="50">Smaller</option>
                <option value="100" selected>Small</option>
                <option value="150">Medium</option>
                <option value="200">Large</option>
            </select>
        </div>
        <div class="col">
            <label for="zoomLevel">Zoom Level:</label>
            <select id="zoomLevelSelect">
                <option value="1.5">1.5x</option>
                <option value="2" selected>2x</option>
                <option value="2.5">2.5x</option>
                <option value="3">3x</option>
            </select>
        </div>
    </div>

</div>


<style>
    .choices {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }

    
    .choices > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 20px; 
    }
    
    .choices > div > label {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
</style>
<script>
    // Function to apply the magnifier settings
    const applyMagnifierSettings = () => {
        magnifierSize = parseInt(magnifierSizeSelect.value);
        zoomLevel = parseFloat(zoomLevelSelect.value);
    
        magnifierCanvases.forEach(magnifierCanvas => {
            magnifierCanvas.width = magnifierSize;
            magnifierCanvas.height = magnifierSize;
        });
    };

    // Function to load settings
    const loadSettings = () => {
        if (localStorage.getItem("showCircleToggle") === "true") {
            showCircleToggle.checked = true;
        }
        if (localStorage.getItem("magnifierSize")) {
            magnifierSizeSelect.value = localStorage.getItem("magnifierSize");
        }
        if (localStorage.getItem("zoomLevel")) {
            zoomLevelSelect.value = localStorage.getItem("zoomLevel");
        }
        // Apply the loaded settings
        applyMagnifierSettings();
    };

    // Function to save settings
    const saveSettings = () => {
        localStorage.setItem("showCircleToggle", showCircleToggle.checked);
        localStorage.setItem("magnifierSize", magnifierSizeSelect.value);
        localStorage.setItem("zoomLevel", zoomLevelSelect.value);
    };

    // Load settings on page load
    document.addEventListener('DOMContentLoaded', (event) => {
        loadSettings();
    });

    const form = document.querySelector("form");

    // for task 1 only  
    {% if question.task.alias == "realism-oct" or question.task.alias == "realism-fundus" %}
      const delayTimes = [20000];  // Delay times in milliseconds
      const delayTime = delayTimes[Math.floor(Math.random() * delayTimes.length)];  // Select random delay time
  
      const delayInput = document.createElement("input");
      delayInput.type = "hidden";
      delayInput.name = "delay_time";
      delayInput.value = delayTime;
      form.appendChild(delayInput);
  
      setTimeout(() => {
          const canvases = document.querySelectorAll('canvas');
          canvases.forEach((canvas) => {
              const ctx = canvas.getContext('2d');
              ctx.clearRect(0, 0, canvas.width, canvas.height);
              canvas.style.border = '2px solid black';
          });
      }, delayTime);
    {% endif %}
  

    // reaction time
    let start = new Date().getTime();
    form.addEventListener("submit", (event) => {
        const reaction_time = new Date().getTime() - start;
        console.log(reaction_time);
        const reactiontimeInput = document.createElement("input");
        reactiontimeInput.type = 'hidden';
        reactiontimeInput.name = 'reaction_time';
        reactiontimeInput.value = reaction_time;
        form.appendChild(reactiontimeInput);
    });

    // for all tasks
    const imageCanvases = document.querySelectorAll('.imageCanvas');
    const magnifierCanvases = document.querySelectorAll('.magnifierCanvas');
    const magnifierToggle = document.getElementById('magnifierToggle');
    const showCircleToggle = document.getElementById('showCircleToggle');

    const magnifierSizeSelect = document.getElementById('magnifierSizeSelect');
    const zoomLevelSelect = document.getElementById('zoomLevelSelect');

    // Event listener for magnifier size
    let magnifierSize = 100;
    
    magnifierSizeSelect.addEventListener('change', function() {

        magnifierSize = parseInt(this.value);
        saveSettings();
        applyMagnifierSettings();
        magnifierCanvases.forEach(magnifierCanvas => {
            magnifierCanvas.width = magnifierSize;
            magnifierCanvas.height = magnifierSize;
        })
    });

    let zoomLevel = 2;
    // Event listener for zoom level
    zoomLevelSelect.addEventListener('change', function() {
        zoomLevel = parseFloat(this.value);
        saveSettings();
        applyMagnifierSettings();
    });

    showCircleToggle.addEventListener('change', function() {
        saveSettings();
    });

    const clearMagnifiers = () => {
        magnifierCanvases.forEach(magnifierCanvas => {
            const magnifierCtx = magnifierCanvas.getContext('2d');
            magnifierCtx.clearRect(0, 0, magnifierCanvas.width, magnifierCanvas.height);
        });
    };

    const drawMagnifier = (x, y, imageCanvas, magnifierCanvas) => {
        const magnifierCtx = magnifierCanvas.getContext('2d');
        // Calculate source coordinates and dimensions
        let sourceX = x - magnifierSize / (2 * zoomLevel);
        let sourceY = y - magnifierSize / (2 * zoomLevel);
        let sourceWidth = magnifierSize / zoomLevel;
        let sourceHeight = magnifierSize / zoomLevel;

        // Calculate destination coordinates
        let destX = 0;
        let destY = 0;

        // Check if sourceX is out of the image
        if (sourceX < 0) {
            sourceWidth += sourceX;
            destX -= sourceX * zoomLevel;
            sourceX = 0;
        }

        // Check if sourceY is out of the image
        if (sourceY < 0) {
            sourceHeight += sourceY;
            destY -= sourceY * zoomLevel;
            sourceY = 0;
        }

        // Clear the magnifier canvas
        magnifierCtx.clearRect(0, 0, magnifierCanvas.width, magnifierCanvas.height);

        // Draw white background to fill the outside region
        magnifierCtx.fillStyle = 'white';
        magnifierCtx.fillRect(0, 0, magnifierCanvas.width, magnifierCanvas.height);

        // Draw the magnified portion of the image
        magnifierCtx.drawImage(
            imageCanvas, 
            sourceX, 
            sourceY, 
            sourceWidth, 
            sourceHeight, 
            destX, 
            destY, 
            sourceWidth * zoomLevel, 
            sourceHeight * zoomLevel
        );

        if (showCircleToggle.checked) {
            magnifierCtx.beginPath();
            magnifierCtx.arc(magnifierSize / 2, magnifierSize / 2, 5, 0, 2 * Math.PI); // x, y, radius, startAngle, endAngle
            magnifierCtx.strokeStyle = 'black';
            magnifierCtx.lineWidth = 2;
            magnifierCtx.stroke();
        }
    };

    const updateMagnifiers = (x, y, imageCanvas) => {
        imageCanvases.forEach((imageCanvas, index) => {
            drawMagnifier(x, y, imageCanvas, magnifierCanvases[index]);
        });
    };
  
    imageCanvases.forEach((imageCanvas) => {
        const imageCtx = imageCanvas.getContext('2d');
        const img = new Image();
  
        img.onload = function() {
            imageCtx.drawImage(img, 0, 0, imageCanvas.width, imageCanvas.height);
  
            {% if question.task.id != 1 %}
            imageCanvas.addEventListener('mouseenter', (event) => {
                const rect = imageCanvas.getBoundingClientRect();
                const x = event.clientX - rect.left;
                const y = event.clientY - rect.top;
                updateMagnifiers(x, y, imageCanvas);
            });
  
            imageCanvas.addEventListener('mousemove', (event) => {
                const rect = imageCanvas.getBoundingClientRect();
                const x = event.clientX - rect.left;
                const y = event.clientY - rect.top;
                updateMagnifiers(x, y, imageCanvas);
            });
  
            imageCanvas.addEventListener('mouseleave', () => {
                clearMagnifiers();
            });
            {% endif %}
        };
    
        img.src = imageCanvas.dataset.src;
    });
</script>

{% else %}

<p>You are not logged in yet.</p>

{% endif %}

{% endblock content %}