{% extends 'base.html' %}
{% load replace %}
{% block title %}{{ question.description }}{% endblock title %}
{% block content %}

{% if user.is_authenticated %}

<h1>{{ question.description }}</h1>

<table>
    {% if question.task.alias == "realism-fundus" or question.task.alias == "realism-oct" %}
    <tr>
        {% if question.image1 %}<th>a</th>{% endif %}
        {% if question.image2 %}<th>b</th>{% endif %}
        {% if question.image3 %}<th>c</th>{% endif %}
        {% if question.image4 %}<th>d</th>{% endif %}
        {% if question.image5 %}<th>e</th>{% endif %}
    </tr>

    {% elif "bagnet" in question.task.alias %}
        {% if "no-support" in question.task.alias %}
        <tr>
            <th></th>
        </tr>   
        {% else %}
        <tr>
            <th></th>
        </tr>     

        {% endif %}

    {% else %}

        {% if question.image2 and not question.image4%}
            <tr>
                {% if question.image1 %}<th>Better</th>{% endif %}
                {% if question.image2 %}<th>Original</th>{% endif %}
                {% if question.image3 %}<th>Worse</th>{% endif %}
            </tr>
        {% else %}
        <tr>
            <th></th>
        </tr>            
        
        {% endif %}

    {% endif %}

    <tr>
        {% if question.image1 %}
        <td>
            <div class="d-flex align-items-start">
                <!-- Image canvas -->
                <div>
                    <canvas class="imageCanvas" width="{{ question.image1_width }}" height="{{ question.image1_height }}" data-src="{{ question.image1.url }}"></canvas>
                    <div>
                        <canvas class="magnifierCanvas" width="100" height="100" style="{% if not 'grading' in question.task.alias %}display: none;{% endif %} border:1px solid #d3d3d3"></canvas>
                    </div>
                </div>
                
                {% if question.image1_title %}
                <!-- Image title -->
                <div class="ms-3">
                    {{ question.image1_title | replace:"healthy, no DR" | safe}}
                </div>
                {% endif %}
            </div>
        </td>
        {% endif %}
        {% if question.image2 %}
            <td>
                <div>
                    <canvas class="imageCanvas" width="{{ question.image2_width }}" height="{{ question.image2_height }}" data-src="{{ question.image2.url }}"></canvas>
                </div>
                <div>
                    <canvas class="magnifierCanvas" width="100" height="100" style="{% if not "grading" in question.task.alias %}display: none;{% endif %} border:1px solid #d3d3d3"></canvas>
                </div>
            </td>
        {% endif %}
        {% if question.image3 %}
            <td>
                <div>
                    <canvas class="imageCanvas" width="{{ question.image3_width }}" height="{{ question.image3_height }}" data-src="{{ question.image3.url }}"></canvas>
                </div>
                <div>
                    <canvas class="magnifierCanvas" width="100" height="100" style="{% if not "grading" in question.task.alias %}display: none;{% endif %} border:1px solid #d3d3d3"></canvas>
                </div>
            </td>
        {% endif %}

        {% if question.image4 %}
            <td>
                <div>
                    <canvas class="imageCanvas" width="{{ question.image4_width }}" height="{{ question.image4_height }}" data-src="{{ question.image4.url }}"></canvas>
                </div>
                <div>
                    <canvas class="magnifierCanvas" width="100" height="100" style="{% if not "grading" in question.task.alias %}display: none;{% endif %} border:1px solid #d3d3d3"></canvas>
                </div>
            </td>
        {% endif %}

        {% if question.image5 %}
            <td>
                <div>
                    <canvas class="imageCanvas" width="{{ question.image5_width }}" height="{{ question.image5_height }}" data-src="{{ question.image5.url }}"></canvas>
                </div>
                <div>
                    <canvas class="magnifierCanvas" width="100" height="100" style="{% if not "grading" in question.task.alias %}display: none;{% endif %} border:1px solid #d3d3d3"></canvas>
                </div>
            </td>
        {% endif %}
    </tr>
</table>


{% if sub_questions_and_forms %}
  <!-- New form structure -->
  <form action="{{ question.get_absolute_url }}" method="POST">
    {% csrf_token %}
    {% for sub_question, form in sub_questions_and_forms %}
    <div class="sub-question mt-3">
        <h4>{{ sub_question.description }}</h4>
        {% if sub_question in unanswered_sub_questions %}
        <div class="alert alert-danger">
            This subquestion is not yet answered.
        </div>
        {% endif %}
        <div class="sub-question-form choices">
        {% for choice in form.choice.field.choices %}
            <input class="me-1" type="radio" id="{{ choice.0 }}" name="{{ sub_question.id }}" value="{{ choice.0 }}">
            <label class="me-5" for="{{ choice.0 }}">{{ choice.1 }}</label>
        {% endfor %}
        </div>
    </div>
    <br>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% else %}
  <!-- Old form structure -->
  <h2>Answer</h2>
  <form action="{{ question.get_absolute_url }}" method="POST">
    {% csrf_token %}
    <div class="choices">
        {% for choice in form.choice.field.choices %}
            <input class="me-1" type="radio" id="{{ choice.0 }}" name="choice" value="{{ choice.0 }}">
            <label class="me-5" for="{{ choice.0 }}">{{ choice.1 }}</label>
        {% endfor %}
        <br>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
{% endif %}

{% if "grading" in question.task.alias %}
<div class="mt-4 mb-5">
{% else %}
<div class="mt-4 mb-5" style="display: none;">
{% endif %}
    
    <h5>Options for magnifiers</h5>
    <div class="row">
        <div class="col">
            <label for="showCircleToggle">Show Circle</label>
            <input type="checkbox" id="showCircleToggle" name="showCircleToggle">
        </div>
        <div class="col">
            <label for="magnifierSize">Magnifier Size:</label>
            <select id="magnifierSizeSelect">
                <option value="50">Smaller</option>
                <option value="100" selected>Small</option>
                <option value="150">Medium</option>
                <option value="200">Large</option>
            </select>
        </div>
        <div class="col">
            <label for="zoomLevel">Zoom Level:</label>
            <select id="zoomLevelSelect">
                <option value="1.5">1.5x</option>
                <option value="2" selected>2x</option>
                <option value="2.5">2.5x</option>
                <option value="3">3x</option>
            </select>
        </div>
    </div>

</div>


<style>
    .choices {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }

    
    .choices > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 20px; 
    }
    
    .choices > div > label {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
</style>
<script>
    // Function to apply the magnifier settings
    const applyMagnifierSettings = () => {
        magnifierSize = parseInt(magnifierSizeSelect.value);
        zoomLevel = parseFloat(zoomLevelSelect.value);
    
        magnifierCanvases.forEach(magnifierCanvas => {
            magnifierCanvas.width = magnifierSize;
            magnifierCanvas.height = magnifierSize;
        });
    };

    // Function to load settings
    const loadSettings = () => {
        if (localStorage.getItem("showCircleToggle") === "true") {
            showCircleToggle.checked = true;
        }
        if (localStorage.getItem("magnifierSize")) {
            magnifierSizeSelect.value = localStorage.getItem("magnifierSize");
        }
        if (localStorage.getItem("zoomLevel")) {
            zoomLevelSelect.value = localStorage.getItem("zoomLevel");
        }
        // Apply the loaded settings
        applyMagnifierSettings();
    };

    // Function to save settings
    const saveSettings = () => {
        localStorage.setItem("showCircleToggle", showCircleToggle.checked);
        localStorage.setItem("magnifierSize", magnifierSizeSelect.value);
        localStorage.setItem("zoomLevel", zoomLevelSelect.value);
    };

    // Load settings on page load
    document.addEventListener('DOMContentLoaded', (event) => {
        loadSettings();
    });

    const form = document.querySelector("form");

    // for task 1 only  
    {% if question.task.alias == "realism-oct" or question.task.alias == "realism-fundus" %}
      const delayTimes = [20000];  // Delay times in milliseconds
      const delayTime = delayTimes[Math.floor(Math.random() * delayTimes.length)];  // Select random delay time
  
      const delayInput = document.createElement("input");
      delayInput.type = "hidden";
      delayInput.name = "delay_time";
      delayInput.value = delayTime;
      form.appendChild(delayInput);
  
      setTimeout(() => {
          const canvases = document.querySelectorAll('canvas');
          canvases.forEach((canvas) => {
              const ctx = canvas.getContext('2d');
              ctx.clearRect(0, 0, canvas.width, canvas.height);
              canvas.style.border = '2px solid black';
          });
      }, delayTime);
    {% endif %}
  

    // reaction time
    let start = new Date().getTime();
    form.addEventListener("submit", (event) => {
        const reaction_time = new Date().getTime() - start;
        console.log(reaction_time);
        const reactiontimeInput = document.createElement("input");
        reactiontimeInput.type = 'hidden';
        reactiontimeInput.name = 'reaction_time';
        reactiontimeInput.value = reaction_time;
        form.appendChild(reactiontimeInput);
    });

    // for all tasks
    const imageCanvases = document.querySelectorAll('.imageCanvas');
    const magnifierCanvases = document.querySelectorAll('.magnifierCanvas');
    const magnifierToggle = document.getElementById('magnifierToggle');
    const showCircleToggle = document.getElementById('showCircleToggle');

    const magnifierSizeSelect = document.getElementById('magnifierSizeSelect');
    const zoomLevelSelect = document.getElementById('zoomLevelSelect');

    // Event listener for magnifier size
    let magnifierSize = 100;
    
    magnifierSizeSelect.addEventListener('change', function() {

        magnifierSize = parseInt(this.value);
        saveSettings();
        applyMagnifierSettings();
        magnifierCanvases.forEach(magnifierCanvas => {
            magnifierCanvas.width = magnifierSize;
            magnifierCanvas.height = magnifierSize;
        })
    });

    let zoomLevel = 2;
    // Event listener for zoom level
    zoomLevelSelect.addEventListener('change', function() {
        zoomLevel = parseFloat(this.value);
        saveSettings();
        applyMagnifierSettings();
    });

    showCircleToggle.addEventListener('change', function() {
        saveSettings();
    });

    const clearMagnifiers = () => {
        magnifierCanvases.forEach(magnifierCanvas => {
            const magnifierCtx = magnifierCanvas.getContext('2d');
            magnifierCtx.clearRect(0, 0, magnifierCanvas.width, magnifierCanvas.height);
        });
    };

    const drawMagnifier = (x, y, imageCanvas, magnifierCanvas) => {
        const magnifierCtx = magnifierCanvas.getContext('2d');
        // Calculate source coordinates and dimensions
        let sourceX = x - magnifierSize / (2 * zoomLevel);
        let sourceY = y - magnifierSize / (2 * zoomLevel);
        let sourceWidth = magnifierSize / zoomLevel;
        let sourceHeight = magnifierSize / zoomLevel;

        // Calculate destination coordinates
        let destX = 0;
        let destY = 0;

        // Check if sourceX is out of the image
        if (sourceX < 0) {
            sourceWidth += sourceX;
            destX -= sourceX * zoomLevel;
            sourceX = 0;
        }

        // Check if sourceY is out of the image
        if (sourceY < 0) {
            sourceHeight += sourceY;
            destY -= sourceY * zoomLevel;
            sourceY = 0;
        }

        // Clear the magnifier canvas
        magnifierCtx.clearRect(0, 0, magnifierCanvas.width, magnifierCanvas.height);

        // Draw white background to fill the outside region
        magnifierCtx.fillStyle = 'white';
        magnifierCtx.fillRect(0, 0, magnifierCanvas.width, magnifierCanvas.height);

        // Draw the magnified portion of the image
        magnifierCtx.drawImage(
            imageCanvas, 
            sourceX, 
            sourceY, 
            sourceWidth, 
            sourceHeight, 
            destX, 
            destY, 
            sourceWidth * zoomLevel, 
            sourceHeight * zoomLevel
        );

        if (showCircleToggle.checked) {
            magnifierCtx.beginPath();
            magnifierCtx.arc(magnifierSize / 2, magnifierSize / 2, 5, 0, 2 * Math.PI); // x, y, radius, startAngle, endAngle
            magnifierCtx.strokeStyle = 'black';
            magnifierCtx.lineWidth = 2;
            magnifierCtx.stroke();
        }
    };

    const updateMagnifiers = (x, y, imageCanvas) => {
        imageCanvases.forEach((imageCanvas, index) => {
            drawMagnifier(x, y, imageCanvas, magnifierCanvases[index]);
        });
    };
  
    imageCanvases.forEach((imageCanvas) => {
        const imageCtx = imageCanvas.getContext('2d');
        const img = new Image();
  
        img.onload = function() {
            imageCtx.drawImage(img, 0, 0, imageCanvas.width, imageCanvas.height);
  
            {% if question.task.id != 1 %}
            imageCanvas.addEventListener('mouseenter', (event) => {
                const rect = imageCanvas.getBoundingClientRect();
                const x = event.clientX - rect.left;
                const y = event.clientY - rect.top;
                updateMagnifiers(x, y, imageCanvas);
            });
  
            imageCanvas.addEventListener('mousemove', (event) => {
                const rect = imageCanvas.getBoundingClientRect();
                const x = event.clientX - rect.left;
                const y = event.clientY - rect.top;
                updateMagnifiers(x, y, imageCanvas);
            });
  
            imageCanvas.addEventListener('mouseleave', () => {
                clearMagnifiers();
            });
            {% endif %}
        };
    
        img.src = imageCanvas.dataset.src;
    });
</script>

{% else %}

<p>You are not logged in yet.</p>

{% endif %}

{% endblock content %}