{% extends 'base.html' %}

{% block title %}{{ question.description }}{% endblock title %}
{% block content %}

{% if user.is_authenticated %}

<h1>{{ question.description }}</h1>

<table>
    {% if question.task.alias == "realism-fundus" or question.task.alias == "realism-oct" %}
    <tr>
        {% if question.image1 %}<th>a</th>{% endif %}
        {% if question.image2 %}<th>b</th>{% endif %}
        {% if question.image3 %}<th>c</th>{% endif %}
    </tr>

    {% else %}

        {% if question.image2 %}
            <tr>
                {% if question.image1 %}<th>Better</th>{% endif %}
                {% if question.image2 %}<th>Original</th>{% endif %}
                {% if question.image3 %}<th>Worse</th>{% endif %}
            </tr>
        {% else %}
        <tr>
            <th>Original</th>
        </tr>            
        
        {% endif %}

    {% endif %}

    <tr>
        {% if question.image1 %}
        <td>
            <canvas class="imageCanvas" width="450" height="450" data-src="{{ question.image1.url }}"></canvas>
            <canvas class="magnifierCanvas" width="150" height="150" style="{% if question.task.alias == "realism" %}display: none;{% endif %} border:1px solid #d3d3d3"></canvas>
        </td>
        {% endif %}
        {% if question.image2 %}
            <td>
                <canvas class="imageCanvas" width="450" height="450" data-src="{{ question.image2.url }}"></canvas>
                <canvas class="magnifierCanvas" width="150" height="150" style="{% if question.task.alias == "realism" %}display: none;{% endif %} border:1px solid #d3d3d3"></canvas>
            </td>
        {% endif %}
        {% if question.image3 %}
            <td>
                <canvas class="imageCanvas" width="450" height="450" data-src="{{ question.image3.url }}"></canvas>
                <canvas class="magnifierCanvas" width="150" height="150" style="{% if question.task.alias == "realism" %}display: none;{% endif %} border:1px solid #d3d3d3"></canvas>
            </td>
        {% endif %}
    </tr>
</table>

<h2>Answer</h2>
<form action="{{ question.get_absolute_url}}" method="POST">
  {{ form.as_p }} {% csrf_token %}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<script>

    const form = document.querySelector("form");

    // for task 1 only  
    {% if question.task.alias == "realism-oct" or question.task.alias == "realism-fundus" %}
      const delayTimes = [20000];  // Delay times in milliseconds
      const delayTime = delayTimes[Math.floor(Math.random() * delayTimes.length)];  // Select random delay time
  
      const delayInput = document.createElement("input");
      delayInput.type = "hidden";
      delayInput.name = "delay_time";
      delayInput.value = delayTime;
      form.appendChild(delayInput);
  
      setTimeout(() => {
          const canvases = document.querySelectorAll('canvas');
          canvases.forEach((canvas) => {
              const ctx = canvas.getContext('2d');
              ctx.clearRect(0, 0, canvas.width, canvas.height);
              canvas.style.border = '2px solid black';
          });
      }, delayTime);
    {% endif %}
  

    // reaction time
    let start = new Date().getTime();
    form.addEventListener("submit", (event) => {
        const reaction_time = new Date().getTime() - start;
        console.log(reaction_time);
        const reactiontimeInput = document.createElement("input");
        reactiontimeInput.type = 'hidden';
        reactiontimeInput.name = 'reaction_time';
        reactiontimeInput.value = reaction_time;
        form.appendChild(reactiontimeInput);
    });

    // for all tasks
    const imageCanvases = document.querySelectorAll('.imageCanvas');
    const magnifierCanvases = document.querySelectorAll('.magnifierCanvas');
    const magnifierSize = 150;
    const zoomLevel = 2;

    const clearMagnifiers = () => {
        magnifierCanvases.forEach(magnifierCanvas => {
            const magnifierCtx = magnifierCanvas.getContext('2d');
            magnifierCtx.clearRect(0, 0, magnifierCanvas.width, magnifierCanvas.height);
        });
    };

    const drawMagnifier = (x, y, imageCanvas, magnifierCanvas) => {
        const magnifierCtx = magnifierCanvas.getContext('2d');
        // Calculate source coordinates and dimensions
        let sourceX = x - magnifierSize / (2 * zoomLevel);
        let sourceY = y - magnifierSize / (2 * zoomLevel);
        let sourceWidth = magnifierSize / zoomLevel;
        let sourceHeight = magnifierSize / zoomLevel;

        // Calculate destination coordinates
        let destX = 0;
        let destY = 0;

        // Check if sourceX is out of the image
        if (sourceX < 0) {
            sourceWidth += sourceX;
            destX -= sourceX * zoomLevel;
            sourceX = 0;
        }

        // Check if sourceY is out of the image
        if (sourceY < 0) {
            sourceHeight += sourceY;
            destY -= sourceY * zoomLevel;
            sourceY = 0;
        }

        // Clear the magnifier canvas
        magnifierCtx.clearRect(0, 0, magnifierCanvas.width, magnifierCanvas.height);

        // Draw white background to fill the outside region
        magnifierCtx.fillStyle = 'white';
        magnifierCtx.fillRect(0, 0, magnifierCanvas.width, magnifierCanvas.height);

        // Draw the magnified portion of the image
        magnifierCtx.drawImage(
            imageCanvas, 
            sourceX, 
            sourceY, 
            sourceWidth, 
            sourceHeight, 
            destX, 
            destY, 
            sourceWidth * zoomLevel, 
            sourceHeight * zoomLevel
        );

        magnifierCtx.beginPath();
        magnifierCtx.arc(magnifierSize / 2, magnifierSize / 2, 5, 0, 2 * Math.PI); // x, y, radius, startAngle, endAngle
        magnifierCtx.strokeStyle = 'black';
        magnifierCtx.lineWidth = 2;
        magnifierCtx.stroke();
    };

    const updateMagnifiers = (x, y, imageCanvas) => {
        imageCanvases.forEach((imageCanvas, index) => {
            drawMagnifier(x, y, imageCanvas, magnifierCanvases[index]);
        });
    };
  
    imageCanvases.forEach((imageCanvas) => {
        const imageCtx = imageCanvas.getContext('2d');
        const img = new Image();
  
        img.onload = function() {
            imageCtx.drawImage(img, 0, 0, imageCanvas.width, imageCanvas.height);
  
            {% if question.task.id != 1 %}
            imageCanvas.addEventListener('mouseenter', (event) => {
                const rect = imageCanvas.getBoundingClientRect();
                const x = event.clientX - rect.left;
                const y = event.clientY - rect.top;
                updateMagnifiers(x, y, imageCanvas);
            });
  
            imageCanvas.addEventListener('mousemove', (event) => {
                const rect = imageCanvas.getBoundingClientRect();
                const x = event.clientX - rect.left;
                const y = event.clientY - rect.top;
                updateMagnifiers(x, y, imageCanvas);
            });
  
            imageCanvas.addEventListener('mouseleave', () => {
                clearMagnifiers();
            });
            {% endif %}
        };
    
        img.src = imageCanvas.dataset.src;
    });
</script>

{% else %}

<p>You are not logged in yet.</p>

{% endif %}

{% endblock content %}