{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Thank you for completing the task!</h1>
      <p class="lead">You have completed this task.</p>
      <hr class="my-4">
      {% if next_link %}
        <a class="btn btn-primary btn-lg" href="{{ next_link }}" role="button">Start next task now</a>
        <div>Or you may continue later with the next task from the <a href="/">home page.</a></div>
      {% else %}
        <p class="lead">No more tasks available. Thanks for your participation!</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
