{% extends 'base.html' %}

{% block title %}Retinal Image Tools{% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% comment %} <div class="mb-2">
  <h2 class="d-inline-block me-3">Decision support through AI-generated images</h2>
</div>

<div class="mb-2">
  <h4 class="d-inline-block me-3">Fundus</h4>
</div>

<ul class="list-group">
  {% for task in evalutation_tasks %}
    {% if task.category == "realism-fundus" %}
      <li class="list-group-item">
        {% if task.is_active %}
          <a href="{% url 'retimgeval:task_instruction' task.alias %}" class="text-decoration-none">{{ task.description }}</a> (active)
        {% else %}
          <span>{{ task.description }} (inactive)</span>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>

<div class="mt-3 mb-2">
  <h4 class="d-inline-block me-3">OCT</h4>
</div>

<ul class="list-group">
  {% for task in evalutation_tasks %}
    {% if task.category == "realism-oct" %}
      <li class="list-group-item">
        {% if task.is_active %}
          <a href="{% url 'retimgeval:task_instruction' task.alias %}" class="text-decoration-none">{{ task.description }}</a> (active)
        {% else %}
          <span>{{ task.description }} (inactive)</span>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul> {% endcomment %}

<div class="mt-4">
  <h2 class="d-inline-block me-3">Decision support through sparse BagNets</h2>
</div>
<ul class="list-group">
  {% for task in annotation_tasks %}
    {% if "bagnet" in task.category or "annotate" in task.category %}
      <li class="list-group-item">
        {% if task.is_active %}
        <a href="{% url 'retimgann:task_instruction' task.id %}" class="text-decoration-none">{{ task.title }}</a> (active)
        {% else %}
        <span>{{ task.title }} (inactive)</span>
        {% endif %}
      </li> 
    {% endif %}
  {% endfor %}
  {% for task in evalutation_tasks %}
    {% comment %} {% if "bagnet" in task.category %}
      <li class="list-group-item">
        {% if task.is_active %}
          <a href="{% url 'retimgeval:task_instruction' task.alias %}" class="text-decoration-none">{{ task.description }}</a> (active)
        {% else %}
          <span>{{ task.description }} (inactive)</span>
        {% endif %}
      </li>
    {% endif %} {% endcomment %}
    {% if task.category == "erm-oct" %}
      <li class="list-group-item">
        {% if task.is_active %}
          <a href="{% url 'retimgeval:task_instruction' task.alias %}" class="text-decoration-none">{{ task.description }}</a> (active)
        {% else %}
          <span>{{ task.description }} (inactive)</span>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>

{% else %}

  <p>You are not logged in yet.</p>
        
{% endif %}

{% endblock %}
