{% extends 'base.html' %}

{% block title %}Retinal Image Tools{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<div class="mb-3">
  <h2 class="d-inline-block me-3">Decision support through AI-generated images</h2>
</div>
<ul class="list-group">
  {% for task in tasks %}
    {% if task.category == "realism" %}
      <li class="list-group-item">
        {% if task.is_active %}
          <a href="{% url 'retimgeval:task_instruction' task.alias %}" class="text-decoration-none">{{ task.description }}</a> (active)
        {% else %}
          <span>{{ task.description }} (inactive)</span>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>

<div class="mt-4">
  <h2 class="d-inline-block me-3">Decision support through sparse BagNets</h2>
</div>
<ul class="list-group">
  <li class="list-group-item">
    <a href="/annotate" class="text-decoration-none">Lesion annotation for diabetic retinopathy (DR)</a> (active)
  </li>
  {% for task in tasks %}
    {% if task.category == "bagnet" %}
      <li class="list-group-item">
        {% if task.is_active %}
          <a href="{% url 'retimgeval:task_instruction' task.alias %}" class="text-decoration-none">{{ task.description }}</a> (active)
        {% else %}
          <span>{{ task.description }} (inactive)</span>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>

{% else %}

  <p>You are not logged in yet.</p>
        
{% endif %}

{% endblock %}
